<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
</head>

<body>

<header th:fragment="header" class="header">
    <div class="header-inner">
        <nav class="nav">
            <a th:href="@{/}" class="button explore">Prime</a>
            <a th:href="@{/games/explore}" class="button explore">Explore</a>
            <a th:if="${user}" th:href="@{/home}" class="button explore">Home</a>
            <a th:unless="${user}" th:href="@{/login}" class="button login">Login</a>
            <a th:unless="${user}" th:href="@{/register}" class="button register">Register</a>
        </nav>
    </div>
</header>

</body>

</html>