
.nav-bar {
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    background: #202020;

    border-radius: 12px;


    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;

    margin: 20px 20px 20px 20px;

    width: 280px !important;
    min-width: 280px !important;
    max-width: 280px !important;
    padding: 20px;
    box-sizing: border-box;
}


.jubbisoft-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    text-align: center;
    background: linear-gradient(135deg, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jubbisoft-nav-bar-name {
    font-size: 20px;
    font-weight: 600;
}

.jubbisoft-nav-bar-store {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}


.func-block {
    margin-top: 20px;
}


.func-block a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: #f1f1f1;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

.func-block a p {
    margin: 0;
    flex-grow: 1;
}

.func-block a svg {
    width: 20px;
    height: 20px;
    color: #f1f1f1;
}



.func-block a:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.func-block a.active {
    background: linear-gradient(135deg, #ff8a00, #da1b60);
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.func-block a.active:hover {
    background: linear-gradient(135deg, #ff9d33, #e03a74);
    box-shadow: 0 4px 10px rgba(218, 27, 96, 0.5);
    transform: scale(1.05);
}


.func-block a.loyalty-beige {
    background: linear-gradient(145deg, #ececb5, #cebc9a);
    color: white;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.func-block a.loyalty-beige:hover {
    background: linear-gradient(145deg, #EAD7A3, #D6C4A0);
    transform: scale(1.05);
}



.func-block a.logout {
    background: linear-gradient(145deg, #ff4d4d, #ff1a1a);
    color: white;
    transition: all 0.3s ease-in-out;
}

.func-block a.logout:hover {
    background: linear-gradient(145deg, #ff6767, #ff4d4d);
    transform: scale(1.05);
}


@media (max-width: 1024px) {
    .nav-bar {
        width: 80px;
        padding: 15px;
        margin: 10px;
    }

    .jubbisoft-nav-bar-name,
    .jubbisoft-nav-bar-store {
        display: none;
    }

    .func-block a p {
        display: none;
    }

    .func-block a {
        justify-content: center;
    }
}


.func-block-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #4169E1;
    text-decoration: none;
    margin: 10px 0 5px 15px;
}

.func-block a.wallet-yellow {
    background: linear-gradient(145deg, #f1c40f, #f39c12);
    color: white;
    font-weight: 500;
}

.func-block a.wallet-yellow:hover {
    background: linear-gradient(145deg, #f4b942, #e67e22);
}