body main {
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
}


.home-section {

    background: transparent; /* Така ще вземе фона от common.css */
    display: flex;
    justify-content: center; /* Подравнява съдържанието CENTER */
    align-items: center; /* Центрира съдържанието вертикално */
    padding-left: 0;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
}


div.single-section-box {
    background: linear-gradient(135deg, #F5DEB3, #f8c24d);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 213, 0, 0.5);
    color: #3E2723;
    text-align: center;
    width: 600px;
    max-width: 60%;
    margin: 0 auto;

}


.profile-actions-button {
    margin: 20px auto 0;
    align-self: center;
    text-align: center;
    padding: 12px 16px;
    width: 240px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 114, 255, 0.4);
    border: rgb(56, 175, 241);
}

.profile-actions-button:hover {
    background: linear-gradient(90deg, #0072ff, #00c6ff);
    border: rgb(34, 128, 182);
    box-shadow: 0 4px 18px rgba(0, 114, 255, 0.6);
}


.profile-avatar {
    width: 370px;
    height: 250px;
    border-radius: 6%;
    margin-bottom: 16px;
    box-shadow: 0 0 14px rgb(241, 218, 181);
    border: 4px solid rgb(236, 236, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    font-weight: 300;
    align-items: start;
    text-align: left;
    margin-left: 10%;
    color: #3E2723;
}


.profile-info p {
    margin: 5px 0;
    color: #3E2723;
}


.success-message {
    background: #27ae60;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
}

.error-message {
    background: #e74c3c;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
}