<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/my-home.css">

    <link rel="stylesheet" type="text/css" href="/css/game-profile.css">

    <title>Edit Game</title>
</head>

<body>

<header th:replace="~{fragments/header::header}"></header>

<main>

    <div th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="home-section">
        <div class="single-section-box add-game-menu">


            <div class="profile-header">
                <img th:src="${#strings.isEmpty(gameEditRequest.imageCoverUrl) ? 'https://eapi.pcloud.com/getpubthumb?code=XZCUYlZHul3dwxwhr88Ezb8Fcfow4PsV4Xk&size=800x800&format=png' : game.imageCoverUrl}"
                     alt="Profile Picture" class="profile-avatar">
                <h2 th:text="${game.title}" class="profile-name"></h2>
            </div>

            <div class="details-section">
                <div class="details-section-container">
                    <strong>Game id: </strong>
                    <p th:text="${game.id}"></p>
                </div>

                <div class="profile-status-role-container">
                    <p th:if="${game.isAvailable()}" class="active-profile">AVAILABLE</p>
                    <p th:if="${!game.isAvailable()}" class="inactive-profile">NOT AVAILABLE</p>
                </div>

                <div class="details-section-container">
                    <strong>Last game profile update: </strong>
                    <p th:text="${#temporals.format(game.updatedOn, 'dd MMM YYYY HH:mm')}"></p>
                </div>
            </div>


            <form class="form" th:action="@{'/games/'+ ${game.id} + '/profile'}" th:method="PUT"
                  th:object="${gameEditRequest}" title="Save my game edits now">

                <h3>Edit Game</h3>

                <label for="title">Title</label>
                <input type="text" id="title" placeholder="Title" th:field="*{title}">
                <p class="alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

                <label for="description">Description</label>
                <input type="text" id="description" placeholder="Description" th:field="*{description}">
                <p class="alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

                <label for="price">Price</label>
                <input type="number" id="price" placeholder="Price" th:field="*{price}" step="0.01" min="0">
                <p class="alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>

                <label for="genre">Genre</label>
                <select name="genre" id="genre" th:field="*{genre}">
                    <option value="">Select genre</option>
                    <option th:each="genre : ${T(app.game.model.Genre).values()}" th:value="${genre}"
                            th:text="${#strings.capitalize(#strings.toLowerCase(genre))}"></option>
                </select>

                <label for="imageCoverUrl">Image Cover URL</label>
                <input type="text" id="imageCoverUrl"
                       th:value="${#strings.isEmpty(gameEditRequest.imageCoverUrl) ?
                 'https://eapi.pcloud.com/getpubthumb?code=XZCUYlZHul3dwxwhr88Ezb8Fcfow4PsV4Xk&size=800x800&format=png'
                 : gameEditRequest.imageCoverUrl}"
                       th:field="*{imageCoverUrl}">
                <p class="alert-warning" th:if="${#fields.hasErrors('imageCoverUrl')}"
                   th:errors="*{imageCoverUrl}"></p>

                <button class="game-actions-button">
                    <p>Save</p>
                    <i class="fas fa-check"></i>
                </button>

            </form>

        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>