<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Jubbisoft - Games Store</title>
</head>

<body>

<header th:replace="~{fragments/header::header}"></header>

<main>
    <div class="left-container">
        <p class="app-description">🔥 "Step into the ultimate gaming universe – where endless excitement and epic experiences await, only at Jubbisoft!" 🚀</p>
        <div class="button-container">
            <a th:href="@{/games/explore}" class="btn games-btn" title="Explore Our Games"><i class="fas fa-gamepad"></i> Games</a>
            <a th:href="@{/about-us}" class="btn info-btn" title="About Us"><i class="fas fa-info-circle"></i> More Info</a>
        </div>
    </div>

    <div class="logo-container">
        <a th:href="@{/}" class="logo-big">
            <img src="/images/jubbisoft-logo-main.png" alt="Logo Image">
        </a>
    </div>
</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>