<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">

    <link rel="stylesheet" type="text/css" href="/css/loyalty.css">

    <title>Loyalty</title>
</head>


<body>

<header th:replace="~{fragments/header::header}"></header>

<main>

    <div th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="loyalty-section">
        <div class="single-section-box loyalty-profile-information">

            <div class="loyalty-header">
                <img th:src="${'https://eapi.pcloud.com/getpubthumb?code=XZcgllZpoU8aDArgsQFthSnotc730NkRLy0&size=1890x1890&crop=0&type=auto'}"
                     alt="Loyalty Badge" class="loyalty-avatar">
                <h2 class="loyalty-title">Loyalty Status</h2>

                <div class="loyalty-status-container">
                    <p th:if="${loyalty.getType().name() == 'DEFAULT'}" class="default-loyalty">DEFAULT</p>
                    <p th:if="${loyalty.getType().name() == 'PREMIUM'}" class="premium-loyalty">PREMIUM</p>
                </div>
            </div>

            <div class="loyalty-info">
                <div class="details-section-container">
                    <strong>Loyalty ID: </strong>
                    <p th:text="${loyalty.id}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Games Purchased: </strong>
                    <p th:text="${loyalty.gamesPurchased}"></p>
                </div>
                <div class="details-section-container" th:if="${user != null and user.role != null and user.role.name() == 'ADMIN'}">
                    <strong>Games Owned: </strong>
                    <p th:text="${loyalty.member.getCreatedGames().size()}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Discount Percentage: </strong>
                    <p th:text="${discount + '%'}"></p>
                </div>
                <div class="details-section-container">
                    <strong>Member Since: </strong>
                    <p th:text="${#temporals.format(user.createdOn, 'dd MMM YYYY HH:mm')}"></p>
                </div>
                <div class="details-section-container">
                    <strong>User: </strong>
                    <p th:text="${user.username}"></p>
                </div>
            </div>

        </div>
    </div>


</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>