<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">

    <link rel="stylesheet" type="text/css" href="/css/owned-games.css">

    <title>Owned Games</title>
</head>


<body>

<header th:replace="~{fragments/header::header}"></header>

<main>

    <div th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="home-section">

        <div class="my-games-section">
            <div class="home-section">
                <h3 class="my-games">My Owned Games Board</h3>
                <ul th:if="${ownedGames != null and not #lists.isEmpty(ownedGames)}">
                    <li th:each="game : ${ownedGames}">
                        <div class="game-board">
                            <div><img
                                    th:src="${#strings.isEmpty(game.imageCoverUrl) ? 'https://eapi.pcloud.com/getpubthumb?code=XZCUYlZHul3dwxwhr88Ezb8Fcfow4PsV4Xk&size=800x800&format=png' : game.imageCoverUrl}"
                                    alt="Profile Picture" class="profile-avatar"></div>

                            <div class="single-game">
                                <h5>Title: <span th:text="${game.title}"></span></h5>

                                <h5>Genre: <span
                                        th:text="${#strings.capitalize(#strings.toLowerCase(game.genre))}"></span></h5>

                                <h5>Price: <span th:text="${game.price}"></span></h5>

                                <h5>
                                    <span th:text="'STATUS: '"></span>
                                    <span th:text="${game.isAvailable()} ? 'AVAILABLE' : 'NOT AVAILABLE'"></span>
                                </h5>

                                <h5>Added by: <span th:text="${game.publisher.username}"></span></h5>
                            </div>

                            <div class="button-group">
                                <!-- View Button -->
                                <a th:href="@{'/games/' + ${game.id} + '/owned'}">
                                    <button class="btn-view">
                                        <i class="fas fa-eye"></i> View
                                    </button>
                                </a>

                                <!-- Edit Button -->
                                <a th:href="@{'/games/' + ${game.id} + '/profile'}">
                                    <button class="btn-edit">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </a>

                                <!-- Status Button -->
                                <form th:action="@{'/games/'+ ${game.id} + '/availability'}" th:method="PUT">
                                    <button class="btn-status">
                                        <i class="fas fa-toggle-on"></i> Status
                                    </button>

                                </form>

                                <!-- Delete Button -->
                                <form th:action="@{'/games/'+ ${game.id}}" th:method="DELETE">
                                    <button class="btn-delete">
                                        <i class="fas fa-trash"></i> Delete
                                    </button>
                                </form>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>