<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">

    <link rel="stylesheet" type="text/css" href="/css/my-home.css">

    <link rel="stylesheet" type="text/css" href="/css/transactions.css">

    <title>Transactions</title>
</head>


<body>

<header th:replace="~{fragments/header::header}"></header>

<main>

    <div th:replace="~{fragments/sidebar::sidebar}"></div>

    <div class="home-section">
        <div class="transactions-main">

            <table class="styled-table">

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Record</th>
                    <th>Created on</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="transaction : ${transactions}">

                    <td th:text="${transaction.id}"></td>

                    <td th:if="${transaction.status.name() == 'FAILED'}"
                        th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount + ' EUR'}"
                        class="crosslined">
                    </td>
                    <td th:if="${transaction.status.name() == 'APPROVED'}"
                        th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount  + ' EUR'}">
                    </td>

                    <td th:text="${transaction.currency}"></td>

                    <td>
                        <p th:if="${transaction.type.name() == 'WITHDRAWAL'}" class="status withdrawal">WITHDRAWAL</p>
                        <p th:if="${transaction.type.name() == 'DEPOSIT'}" class="status deposit">DEPOSIT</p>
                    </td>

                    <td>
                        <p th:if="${transaction.status.name() == 'FAILED'}" class="status failed">FAILED</p>
                        <p th:if="${transaction.status.name() == 'APPROVED'}" class="status approved">APPROVED</p>
                    </td>

                    <td th:text="${transaction.status.name() == 'FAILED' ? transaction.failureReason : transaction.description}"></td>

                    <td th:text="${#temporals.format(transaction.createdOn, 'dd MMM YYYY HH:mm')}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer::footer}"></footer>

</body>

</html>